.about_hero_section{
    background-color: #fff;
    display:grid;
    grid-template-columns: 50% 50%   ;
   justify-content: space-between;
   gap: 2rem;
   height: 100vh;
}

.about_hero_section_text{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0rem 1rem 2rem 2rem;
}

.about_hero_section_text h1, .about_hero_section_text p{
    color: var(--color-blue);
   
    

}

.about_hero_section_text h1{
    font-size: 5rem;
    font-family: var(--font-raleway);
    /* line-height: 6rem;
    margin-top: 2rem; */
    margin-bottom: 1rem;
    font-weight: 900;
}
.about_hero_section_text p{
    font-size: 1.4rem;
    font-weight: 350;
    text-align: justify;
    width: 90%;
 }


.about_hero_section_img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-top: 5rem;
    
}

.about_hero_section_text button{
    background-color: var(--color-orange);
    color: #fff;
    width: 40%;
    padding: 18px;
    border-radius: 0.1rem;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    /* margin: 1.5rem 3rem; */
}

.about_hero_section_text button:hover{
    background-color: #fff;
    color: var(--color-orange);
    border: 0.15rem solid var(--color-orange);
}





/* goal section */
.goals_section{
    background-color:var(--color-blue);
    width: 100%;
    color: #fff;
    padding: 2rem 0rem;
    height: 38rem;

}

.goals_section h1{
    text-align: center;
    font-family: var(--font-raleway);
    font-size: 3.8rem;
    font-weight: 850;
    margin: 2rem 0rem;
}

.first_goal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var( --color-lightblue-opacity);
    width: 52%;
    text-align: left;
    height: 9rem;
    position: relative;
    top: 4rem;
    height: 12rem;
    border-radius: 0.15rem;
}
.second_goal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var( --color-lightblue-opacity);
    width: 52%;
    text-align:left;
    height: 12rem;
    position: relative;
    margin-left: auto;
    top: 1rem;
    border-radius: 0.15rem;
}

.first_goal_content h2 ,.second_goal_content h2{
    font-size: 2rem;
    z-index: 1;
    padding-top: 1rem;
    margin: 0rem;
}
.first_goal_content p ,.second_goal_content p{
    font-weight: 300;
    font-size: 1.4rem;
    width: 80%;
    margin-top:0.5rem;
    
}

.goal_section_pixel_1{
    background-color: var(--color-lightblue);
    position: relative;
    width: 7%;
    height: 15%;
    top: -23rem;
    left: 70rem;
    border-radius: 0.1rem;
    
}
.goal_section_pixel_2{
background-color: var(--color-yellow);
    position: relative;
    width: 4%;
    height: 9%;
    top: -5rem;
    left: 17rem;
    border-radius: 0.1rem;
}

/* team section*/
.team_section{
    padding-top: 2rem;
    background-color:#fff;
    height: 70rem;
  
}
.team_section h1{ 
    text-align: center;
    color: var(--color-blue);
    font-family: var(--font-raleway);
    font-size: 3.8rem;
    font-weight: 850;
    margin-bottom: 2rem;
}

.team_section_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-blue);
    width: 20%;
    height: 14rem;
    border-radius: 0.15rem;
    margin: 0px;
}
.team_section_description h5{
    font-family: var(  --font-source);
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 2rem 0rem 0rem 0rem;
}

.team_role{
    margin-top: 0.1rem 0rem 0.1rem 0rem;
    font-weight: 100;
    font-size: 1.2rem;
    margin: 0px;
    color: #fff;
}

.more_info{
    font-size: 1.2rem;
    font-weight: 330;
    margin: 1rem 0.2rem;
    text-align: center;
    color: #fff;

}
.Application_incentive{
    position: relative;
    bottom: 45rem;
    left: 69rem;  
    margin: 0px;
}

.Application_incentive p{
    color: var(--color-blue);
    font-size: 1.2rem;
    font-weight: 250;
    width: 15%;
    text-align: left;
  
}
/* team section-blocks position */

.team_section_scrum_avatar{
    position: relative;
    top:3rem;
    left: 19rem;
    z-index: 1;
    width: 13rem;
}

#team_section_scrum_description{
    position: relative;
    left: 4.8rem;
    margin: 0px;
}

.team_section_expert_avatar{
    position: relative;
    left: 28rem;
    top: 6rem;
    z-index: 1;
    width: 13rem;
}
#team_section_expert_description{
    position: relative;
    left: 36.6rem;
    bottom: 20rem;
    margin: 0px;
    
}

.team_section_dev_avatar{
    position: relative;
    bottom: 50.6rem;
    left: 57.6rem;
    z-index: 1;
    width: 13rem;
}
#team_section_dev_description{
    position: relative;
    bottom: 53.6rem;
    left: 67.6rem;
    
}



/* contact us section */

.contact_us_section{
    height: 55rem;
    background-color:var(--color-lightblue);
  
   
}

.contact_us_content{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* border-radius: 15px; */
    margin: auto;
    width: 50%;
    /* padding: 20px ; */
    position: relative;
    right: 18rem;
    top: 6rem;
   
}
.contact_us_form_text{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top:auto;
    margin-bottom: 3rem;
}

.contact_us_form_text h1{
   
    color: var(--color-blue); ;
    text-align: center;
    padding: 0;
    font-size: 3.0rem;
    margin: 0.8rem 0px;
    font-family: var( --font-raleway);
    font-weight:800;
}

.contact_us_form_text p{
    color: var(--color-blue);
    margin-top:auto; 
    width: 80%;
    font-weight: 100;
}

.contact_us_form_credential ,.contact_us_form_message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 60%;
    /* gap: 0.25rem; */
    border: none;
}

.contact_us_form_credential label, .contact_us_form_message label, 
.contact_us_form_credential ::placeholder, 
.contact_us_form_message ::placeholder{
    color: var(--color-blue);
    font-size: 1.2rem;
}
.contact_us_form_credential_input{
    border: none;
    border-bottom: 2px solid var(--color-blue);
    background-color:var( --color-lightblue) ;
    padding: 8px 0px;
    margin: auto 0;
    font-size: 1.2rem;
    color:var(--color-blue);
    font-weight: 100;
    
 }



 .contact_us_form_textarea{
    border: none;
    border-bottom: 2px solid var(--color-blue);
    background-color:var( --color-lightblue) ;
    padding: 8px  0px 0px 0px;
    margin: auto 0;
    font-size: 1rem;
    color:var(--color-blue);
    font-weight: 100;
    resize:vertical;
    overflow: auto;
 }

 .contact_us_content .form_btn {
    margin-top: 15px;
    background-color: var(--color-orange);
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 0.1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;

    
 }

 .contact_us_content .form_btn :hover {
    color: var(--color-orange);
    background-color:  #fff;
   
  }



/* contacts information */

  .contact_us_info_content{
    width: 28%;
    height:45%;
    background-color: var(--color-blue);
    border-radius: 0.1rem;
    padding:1rem 2rem 0rem 3rem;
    position: relative;
    bottom: 20rem;
    gap: 6rem;
    margin-left: auto;
  }
  .contact_us_info_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
   
    
  }
  .contact_us_info_wrapper:first-child{
    margin-top: 2rem;
  }

  .contact_us_info_wrapper img{
    width: 7%;
    height: 7%;
    margin: 0;

  }
  .contact_us_info_wrapper p{
    text-align: left;
    font-weight: 200;
    color: #fff;
    
  }

  /* contacts information-social media */
  .contact_us_social_media_conteiner{
    display: flex;
    flex-direction: row;
    background-color: var(--color-orange);
    border-radius:0.1rem ;
    width: 50%;
    gap: 1rem;
    margin: 0px;
    position: absolute;
    top: 23rem;
    padding: 1rem 0rem 0rem 5rem;
    
  }

  .contact_us_social_media_Wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .contact_us_social_media_Wrapper p {
    font-size: 0.7rem;
    font-weight: 200;
    margin-top: 0.3rem;
    color: #fff;
  }
 