/*   MAIN PAGE      */


.welcome_admin{
    margin: 7rem 3rem 2rem  ;
    color: var(--color-blue);
   
}
.welcome_admin h1{
    font-family: var(--font-raleway);
    font-weight: 780;
}

/* button grid */


.admin_button_grid {
    display:grid;
    grid-template-columns: auto auto auto  ;
    gap: 4rem;
    max-width: 93vw;
    margin: auto;
    
}

.admin_button_grid button{

    margin-top: 15px;
    background-color: var(--color-orange);
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 0.1rem;
    color: #fff;
    font-weight: 650;
    font-size: 1.4rem;
    
}

.admin_button_grid button

.admin_button_grid button:hover {
    background-color: #fff;
    color: var(--color-orange);
    border: 0.15rem solid var(--color-orange);
    padding: 0rem;
}

/* icon - we use predefined icon class directly */
.material-symbols-outlined{
    color: var(--color-orange);
    font-size: 2.5rem;
} 

/* table style */

.manage_users_table{
   
    width: 100%;
    max-width: 90vw;
    margin: 1rem auto;
    
    
}

.manage_users_table tr{
    background-color: var(--color-lightblue);
}

.manage_users_table td{
    padding: 0.5rem;
    font-family: var( --font-source);
    font-size: 1.5rem; 
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#delete_icon, #edit_icon{
    background-color: unset;
    border: none;
}

#delete_icon img, #edit_icon img{
    width: 50px;
    height: 50px;
}


/* manege events-------------------------------- */


.manege_events_content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 3rem;
    max-width: 100vw;
    margin: auto;
   
    height: 58vh;
 
}
.manage_events_scroll_div{
   
    border-radius: 0.5rem;
    overflow-y:scroll; 
    height: 100%;
    width: 60%;
    margin: 1rem auto; 

}

.manege_events_table{
   
    width: 100%;
    
    
}

.manege_events_table tr{
    border: 5rem;
    background-color: var(--color-blue);
}

.manege_events_table td{
   
    padding: 0.5rem;
    color: #fff;
    font-family: var( --font-source);
    font-size: 1.5rem; 
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.manege_icons_content i{
    color: #fff;
}

.manege_event_form{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    margin: 1rem auto;  
    background-color: var(--color-blue);
    padding: 2rem;
}

.manege_event_form h3{
    color: #fff;
    text-align: center;
    padding: 0;
    font-family: var( --font-raleway);
    font-weight:800;
    margin: 10px;
}
.events_form_data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
    border: none;  
}
.events_form_label{
    font-family: var(--font-source);
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
}

.form_input{
    border: none;
    border-bottom: 2px solid #fff;
    background-color:var( --color-blue) ;
    padding: 8px 0px;
    margin: auto 0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 100;
    
 }

 .events_btn_content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
 }


.events_btn_content button {
    margin-top: 15px;
    background-color: #fff;
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 0.1rem;
    color: var(--color-orange);
    font-weight: 700;
    font-size: 1.2rem;

    
 }

 .events_btn_content button:hover {
    background-color: var(--color-orange);
    color:  #fff;
  }



/* manege testimony-------------------------------- */
#addTestimony{
    display: none;
}
.manege_testimony_content{
    
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 3rem;
    max-width: 100vw;
    margin: auto;
   
    
 
}


.manege_testimony_table{
   
    width: 100%;
    border-radius: 0.5rem;
    overflow-y:scroll; 
    height: 100%;
    margin: 1rem 0; 
    
    
}

.manege_testimony_table tr{
    border: 5rem;
    background-color: var(--color-blue);
}

.manege_testimony_table td{
   
    padding: 0.5rem;
    color: #fff;
    font-family: var( --font-source);
    font-size: 1.5rem; 
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.manege_testemony_form{
   
    width: 95%;
    height: 90%;
    margin: 1rem auto;  
    background-color: var(--color-blue);
    padding: 2rem;
    

}
.manege_testemony_form_grid{
    display:grid;
    grid-template-columns: 30% 30% 30%  ;
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}

.manege_testemony_form h3{
    color: #fff;
    text-align: center;
    padding: 0;
    font-family: var( --font-raleway);
    font-weight:800;
}
.testimony_form_data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 100%;
    border: none;  
}
.testimony_form_label{
    font-family: var(--font-source);
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
}

.form_input{
    border: none;
    border-bottom: 2px solid #fff;
    background-color:var( --color-blue) ;
    padding: 8px 0px;
    margin: auto 0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 100;
    
 }

 .testimony_form_textarea{
    border: none;
    border-bottom: 2px solid #fff;
    background-color:var( --color-blue) ;
    padding: 8px  0px 0px 0px;
    margin: auto 0;
    font-size: 1.2rem;
    color:#fff;
    font-weight: 100;
    resize:vertical;
    overflow: auto;
 }

 select{
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #fff;
    background-color:var( --color-blue) ;
    padding: 8px  0px 0px 0px;
    margin: auto 0;
    font-family: var(--font-source);
    font-size: 1.2rem;
    color:#fff;
    font-weight: 100;
    appearance:none;
    
 }