body{
    max-width: 100%;
    overflow-x: hidden;
}
/*Pixel colors and positions*/

.lightblue_pixel{
    position: absolute;
    background-color: var(--color-lightblue);
    border-radius: 2px;
}

.blue_pixel{
    position: absolute;
    background-color: var(--color-blue);
    border-radius: 2px;
}

.orange_pixel{
    position: absolute;
    background-color: var(--color-orange);
    border-radius: 2px;
}

.yellow_pixel{
    position: absolute;
    background-color: var(--color-yellow);
    border-radius: 2px;
}

#pixel1{
    width: 3vw;
    height: 6vh;
    margin-left: 8%;
    margin-top: 8%;
}

#pixel2{
    width: 3vw;
    height: 6vh;
    margin-left: 43%;
    margin-top: 20%;
}

#pixel3{
    z-index: -1;
    width: 10vw;
    height: 20vh;
    margin-left: 60%;
    margin-top: -8%;
}

#pixel4{
    z-index: -1;
    width: 80px;
    height: 80px;
    margin-left: 5.5%;
    margin-top: 26%;
}

#pixel5{
    width: 90px;
    height: 90px;
    margin-left: 60%;
    margin-top: 20%;
}

#pixel6{
    z-index: -1;
    width: 80px;
    height: 80px;
    margin-left: 49.5%;
    margin-top: 13%;
}

#pixel7{
    width: 60px;
    height: 60px;
    margin-left: 70%;
    margin-top: 6%;
}

#pixel8{
    width: 90px;
    height: 90px;
    margin-left: 85%;
    margin-top: 15%;
}

#pixel9{
    width: 90px;
    height: 90px;
    margin-top: -12%;
    margin-left: 9%;
}

#pixel10{
    width: 70px;
    height: 70px;
    margin-left: 50%;
    margin-top: 10%;
}

#pixel11{
    width: 65px;
    height: 65px;
    margin-top: -8%;
    margin-left: 36%;
}

#pixel12{
    width: 65px;
    height: 65px;
    margin-left: 80%;
    margin-top: 8%;
}

#pixel13{
    width: 70px;
    height: 70px;
    margin-left: 23%;
    margin-top: -20%;
}

#pixel14{
    width: 100px;
    height: 100px;
    margin-left: 70%;
    margin-top: 20%;
}

/*Titles and subtitles*/

.header1{
    position: absolute; /*For the spacing between the header and the video*/
    font-family: var( --font-raleway);
    padding: 20px 40px;
    margin-right: 70%;
    font-weight: 900;
}

.header2{
    font-family: var( --font-raleway);
}

.header3, .header4, .header5, .header6, .paragraph{
    font-family: var(--font-source);
    line-height: 150%;
    text-align: center;
}

h6 a{
    text-decoration: none;
    color: var(--color-orange);
}

.header_font_weight{
    font-weight: 50;
}

.subtitle{
    font-family: var( --font-raleway);
    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
}

#section4_subtitle{
    color: var(--color-blue);
    padding: 80px;
}

#section5_subtitle{
    color: white;
    padding: 10px;
}

#section6_subtitle{
    color: var(--color-blue);
}

#section7_subtitle{
    color: var(--color-blue);
    padding: 100px;
}

/*Section 1 - Welcome message */

.welcome_section{
    background-color: var(--color-blue);
    color: white;
    height: 45vh;
}

/*Placeholder for the promotional video!!*/
#video{
    height: 45vh;
    width: 40vw;
    margin-top: 5%;
    margin-left: 50%;
}


/* Section 2 - Graduate posters & course info */


#motivating_sentence{
    color: var(--color-blue);
    margin-right: 50%;
    margin-top: 2%;
}

.course_info{
    display: flex;
    flex-direction: column;
    margin-top: 13%; /*To have more spacing between this section and the section above*/
    color: var(--color-blue);
}

.course_info_section1{
    display: flex;
    flex-direction: row;
}
    
.graduate_posters{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-left: 10%;
}

#project-posters{
    width: 15vw;
    height: 45vh;
}

.course_about1{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.course_info_section2{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
}

.course_info_section2 img{
    margin-right: 20%;
}

.course_about2{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.course_about2 h6{
    margin-right: 15%;
}

.how_to_enter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 90px;
    padding: 20px 5px;
    margin-top: 5%;
    background-color: #f5f5f5;
}

.how_to_enter h5{
    font-size: 1rem;
}

#more_info{
    margin-right: 5%;
}


/*Section 3 - Info about the course's classes*/


.classes_info{
    font-family: var( --font-raleway);
    text-align: center;
    margin-top: 5%;
}

.classes_info button{
    padding: 10px 96px;
    margin-top: 5%;
    border: 4px solid #F0F0F0;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-blue);
    background-color: #f0f0f0;
}

.classes_info button:hover{
    border: 4px solid #F0F0F0;
    background-color: #ffffff;
}

.collapse{
    background-color: #333333;
    color: white;
}

.classes_info h2{
    font-size: 2rem;
    font-weight: 600;
    padding: 20px;
}

.first_semester, .second_semester{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    margin: 3% 2%;
}

.class h4{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.class p{
    text-align: center;
    font-size: 0.8rem;
}


/*Section 4 - Professional outings */


.first_row, .second_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first_row img, .second_row img{
    height: 32vh;
    width: 24.7vw;
}

.job_description{
    width: 341.5px;
    text-align: center;
    color: var(--color-blue);
}

.job_description h4{
    font-family: var( --font-raleway);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5% 3%;
}

.job_description p{
    color: var(--color-blue);
    margin: 0 5%;
    font-size: 0.9rem;
}

.ui_ux_definitions{
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 619px;
    height: 160px;
    margin-left: 54.1%;
    margin-top: 12%;
    margin-bottom: -3%;
    background-color: var(--color-lightblue);
}

.ui h4, .ux h4{
    font-family: var( --font-raleway);
    color: var(--color-blue);
    font-weight: 600;
    font-size: 1.2rem;
}

.ui p, .ux p{
    font-family: var(--font-source);
    color: var(--color-blue);
    font-size: 0.9rem;
    margin-left: 10%;
}


/*Section 5 - Employability*/


.employability{
    background-color: var(--color-blue);
    color: white;
    padding: 80px;
}

.employability h2{
    font-weight: 800;
}

.employability h4{
    font-size: 1.1rem;
    font-weight: 300;
}

.percentages{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    padding: 4% 0;
}

.progress_bars{
    width: 200px;
    padding: 8px 80px;
    background-color: #0C394B;
    border-radius: 2px;
}

.bar1_filled, .bar2_filled, .bar3_filled{
    padding: 8px;
    margin-top: -8%;
}

.bar1_filled{
    background-color: var(--color-orange);
    width: 156px;
}

.bar2_filled{
    background-color: var(--color-lightblue);
    width: 26px;
}

.bar3_filled{
    background-color: var(--color-yellow);
    width: 18px;
}

.percentages h4{
    font-size: 1.2rem;
    margin-top: 5%;
}


/*Section 6 - Graduate testimonals*/


.testimonals h2{
    font-weight: 800;
    text-align: center;
    margin-top: 5%;
    color: var(--color-blue);
}

.testimony1, .testimony2, .testimony3{
    width: 300px;
    height: 300px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: var(--color-blue);
    color: white;
}

.testimony1 img, .testimony2 img, .testimony3 img{
    border-radius: 2px;
}

.testimony1{
    margin-left: 8%;
    margin-top: 8%;
}

.testimony1 p{
    margin-top: 5%;
}

.testimony1 img, .testimony3 img{
    margin-left: -50%;
    margin-top: -60%;
}

.testimony2{
    margin-left: 70%;
    margin-top: 3%;
}

.testimony2 p{
    margin-top: 3%;
}

.testimony2 img{
    margin-left: 70%;
    margin-top: -65%;
}

.testimony3{
    margin-left: 10%;
    margin-top: 12%;
}

.testimony3 p{
    margin-top: 5%;
}

.testimony1_graduate, .testimony3_graduate{
    height: 270px;

}

.testimony2_graduate{
    height: 300px;
}

.testimony1_graduate, .testimony2_graduate, .testimony3_graduate{
    padding: 20px;
    width: 270px;
    border-radius: 5px;
    text-align: center;
    background-color: #F5F5F5;
    color: var(--color-blue);
}

.testimony1_graduate h4, .testimony2_graduate h4, .testimony3_graduate h4{
    font-family: var( --font-raleway);
    font-size: 1.2rem;
    font-weight: 600;
}

.testimony1_graduate li, .testimony2_graduate li, .testimony3_graduate li{
    margin-top: 10%;
    font-size: 1em;
    margin-block-start: 0 1em;
}

.testimony1_graduate{
    margin-left: 33%;
    margin-top: -14%;
}

.testimony2_graduate{
    margin-left: -90%;
    margin-top: -3%;
}

.testimony3_graduate{
    margin-left: 34%;
    margin-top: -10%;
}


/* Section 7 - ESMAD's partners & Course quiz*/


.slideshow{
    display: flex;
    justify-content: center;
    width: 95vw;
}

.slider{
    width: 2400px; /*So all the companies show up white the animation is running*/
}

.slide{
    display: flex;
    align-items: center;
    animation: slideshow 30s linear infinite;
}

.slide img{
    height: 90px;
    padding: 0 50px;
}

@keyframes slideshow{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateX(-1200px);
    }
}


.quiz_suggestion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 170px;
    margin-top: 10%;
    border-radius: 6px;
    background-color: var(--color-lightblue);
}

.quiz_suggestion h3{
    font-family: var( --font-raleway);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-blue);
}

.quiz_suggestion button{
    padding: 15px 40px;
    margin: 10px;
    border: 3px solid var(--color-orange);
    border-radius: 6px;
    font-family: var( --font-raleway);
    font-weight: 600;
    background-color: var(--color-orange);
    color: white;
}

.quiz_suggestion button:hover{
    background-color: white;
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}

@media only screen and (max-width: 768px){
        
    #pixel1{
        width: 5vw;
        height: 5vh;
        margin-left: 4%;
        margin-top: 5%;
    }

    #pixel2{
        width: 5vw;
        height: 5vh;
        margin-left: 60%;
        margin-top: 40%;
    }

    #pixel3{
        width: 15vw;
        height: 15vh;
        margin-left: 65%;
        margin-top: -15%;
    }

    #pixel4{
        width: 80px;
        height: 80px;
        margin-left: 3%;
        margin-top: 50%;
    }

    #pixel5{
        width: 60px;
        height: 60px;
        margin-left: 63%;
        margin-top: 27%;
    }

    #pixel6{
        width: 75px;
        height: 75px;
        margin-left: 40%;
    }

    #pixel7{
        width: 50px;
        height: 50px;
        margin-left: 70%;
        margin-top: 9%;
    }

    #pixel8{
        width: 35px;
        height: 35px;
        margin-left: 90%;
        margin-top: 20%;
    }

    #pixel9{
        z-index: -1;
        width: 80px;
        height: 80px;
        margin-top: -61%;
        margin-left: 41%;
    }

    #pixel10{
        z-index: -1;
        width: 65px;
        height: 65px;
        margin-left: 42%;
        margin-top: 20%;
    }

    #pixel11{
        width: 65px;
        height: 65px;
        margin-top: -50%;
        margin-left: 15%;
    }

    #pixel12{
        width: 55px;
        height: 55px;
        margin-left: 85%;
        margin-top: 12%;
    }

    #pixel13{
        z-index: -1;
        width: 65px;
        height: 65px;
        margin-left: 79%;
        margin-top: -23%;
    }

    #pixel14{
        width: 60px;
        height: 60px;
        margin-left: 70%;
        margin-top: 30%;
    }

    .header1{
        font-size: 1.9rem;
    }
   
    .subtitle{
        font-family: var( --font-raleway);
        font-size: 1.8rem;
        font-weight: 800;
        text-align: center;
    }

    .paragraph{
        font-size: 0.8rem;
    }

    #video{
        height: 40vh;
        width: 45vw;
        margin-top: 10%;
    }

    .header6{
        font-size: 0.7rem;
    }

    .graduate_posters{
        margin-left: 5%;
    }

    #project-posters{
        width: 25vw;
        height: 40vh;
    }
        
    .how_to_enter{
        padding: 20px 50px;
    }

    .how_to_enter h5{
        font-size: 0.7rem;
        margin-left: -20%;
    }

    .classes_info button{
        padding: 5px 48px;
        border-radius: 5px;
        font-size: 1rem;
    }
        
    .first_semester, .second_semester{
        gap: 20px;
        margin: 5%;
        flex-wrap: wrap;
    }

    .class h4{
        font-size: 1rem;
        font-weight: 600;
    }

    .first_row, .second_row{
        flex-wrap: wrap;
    }

    .first_row img, .second_row img{
       height: 180px;
       width: 330px;
    }

    .job_description{
        width: 334px;
    }
        
    .job_description h4{
        font-size: 1.1rem;
    }

    .job_description p{
        font-size: 0.8rem;
    }

    .ui_ux_definitions{
        width: 500px;
        height: 140px;
        margin-left: 25%;
        margin-top: 12%;
        margin-bottom: -3%;
    }
        
    .ui h4, .ux h4{
        font-size: 1.1rem;
    }

    .ui p, .ux p{
        font-size: 0.8rem;
    }
        
    .employability h4{
        font-size: 0.9rem;
    }

    .testimony1, .testimony2, .testimony3{
        width: 250px;
        height: 250px;
    }

    .testimony1 img, .testimony2 img, .testimony3 img{
        width: 150px;
    }

    .testimony1 img, .testimony3 img{
        margin-left: -30%;
    }

    .testimony1{
        margin-top: 20%;
    }

    .testimony2{
        margin-left: 47%;
        margin-top: 22%;
    }

    .testimony3{
        margin-top: 25%;
    }

    .testimony1_graduate, .testimony3_graduate{
        height: 200px;
    }

    .testimony2_graduate{
        height: 230px;
        margin-left: 4%;
    }

    .testimony1_graduate, .testimony3_graduate{
        margin-left: 50%;
        margin-top: -17%;
    }

    .slideshow{
        width: 30vw;
    }

    @keyframes slideshow{
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateX(-80%);
        }
    }

    .quiz_suggestion{
        margin-top: 15%;
        border-radius: 4px;
    }

    .quiz_suggestion h3{
        font-size: 1.1rem;
        padding: 20px;
    }

    .quiz_suggestion button{
        padding: 8px 25px;
        border-radius: 4px;
    }

}

@media only screen and (max-width: 480px){    

    .header1{
        margin-right: 60%;
        margin-top: -2%;
        font-size: 1rem;
    }
   
    .subtitle{
        font-size: 1rem;
    }

    .paragraph{
        font-size: 0.5rem;
    }

    .header6{
        font-size: 0.45rem;
    }

    
    #pixel1{
        width: 5vw;
        height: 8vh;
    }

    #pixel2{
        width: 5vw;
        height: 8vh;
    }

    #pixel3{
        width: 14vw;
        height: 20vh;
        margin-left: 70%;
    }

    #pixel4{
        width: 60px;
        height: 60px;
        margin-left: 3%;
        margin-top: 47%;
    }

    #pixel5{
        width: 40px;
        height: 40px;
        margin-left: 63%;
        margin-top: 25%;
    }

    #pixel6{
        width: 50px;
        height: 50px;
        margin-left: 37%;
    }

    #pixel7{
        width: 30px;
        height: 30px;
        margin-left: 75%;
    }

    #pixel8{
        width: 20px;
        height: 20px;
        margin-left: 90%;
        margin-top: 20%;
    }

    #pixel9{
        width: 65px;
        height: 65px;
        margin-top: -59%;
        margin-left: 55%;
    }

    #pixel10{
        width: 55px;
        height: 55px;
        margin-left: 40%;
        margin-top: 20%;
    }

    #pixel11{
        width: 55px;
        height: 55px;
        margin-top: -50%;
        margin-left: 18%;
    }

    #pixel12{
        width: 45px;
        height: 45px;
    }

    #pixel13{
        width: 55px;
        height: 55px;
        margin-left: 88%;
    }

    #pixel14{
        width: 30px;
        height: 30px;
    }

    #project-posters{
        width: 20vw;
        height: 50vh;
    }

    .how_to_enter{
        padding: 10px 30px;
    }

    .how_to_enter h5{
        font-size: 0.5rem;
        margin-left: -20%;
    }

    .classes_info h2{
        font-size: 1.4rem;
        padding: 20px;
    }

    .class h4{
        font-size: 0.8rem;
    }

    .first_row img, .second_row img{
        height: 150px;
        width: 300px;
     }
 
    .ui_ux_definitions{
        width: 300px;
        height: 100px;
        margin-left: 38%;
    }
           
    .ui h4, .ux h4{
        font-size: 0.9rem;
    }

    .ui p, .ux p{
        font-size: 0.45rem;
    }
        
    .progress_bars{
        width: 100px;
        padding: 6px 70px;
        background-color: #0C394B;
        border-radius: 2px;
    }

    .bar1_filled, .bar2_filled, .bar3_filled{
        padding: 6px;
        margin-top: -8.5%;
    }

    .bar1_filled{
        background-color: var(--color-orange);
        width: 78px;
    }

    .bar2_filled{
        background-color: var(--color-lightblue);
        width: 13px;
    }

    .bar3_filled{
        background-color: var(--color-yellow);
        width: 9px;
    }

    .testimony1, .testimony2, .testimony3{
        width: 170px;
        height: 170px;
    }

    .testimony1 img, .testimony2 img, .testimony3 img{
        width: 70px;
    }

    .testimony1 img, .testimony3 img{
        margin-left: -60%;
    }

    .testimony1{
        margin-top: 20%;
    }

    .testimony2{
        margin-left: 60%;
        margin-top: 24%;
    }

    .testimony3{
        margin-top: 25%;
    }

    .testimony3 p{
        margin-top: 0;
    }

    .testimony1_graduate, .testimony2_graduate, .testimony3_graduate{
        width: 150px;
    }

    .testimony1_graduate, .testimony3_graduate{
        margin-left: 48%;
        margin-top: -17%;
        height: 100px;
        padding: 5px;
    }
    
    .testimony1_graduate h4, .testimony2_graduate h4, .testimony3_graduate h4{
        font-size: 0.8rem;
    }

    .testimony1_graduate li, .testimony2_graduate li, .testimony3_graduate li{
        margin-block-start: 0;
        margin-left: -10%;
    }


    .testimony2_graduate{
        height: 160px;
        margin-left: 25%;
    }

    .slideshow{
        width: 20vw;
    }

    .slide img{
        height: 60px;
        padding: 0 30px;
    }

    @keyframes slideshow{
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
 
    .quiz_suggestion{
        width: 50%;
        height: 150px;
        border-radius: 4px;
    }

    .quiz_suggestion h3{
        font-size: 0.9rem;
        padding: 20px;
    }

    .quiz_suggestion button{
        padding: 4px 15px;
    }

}