/* Modal: Edit profile */
/* .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    width: 100%; 
    height: 60vh; 
  }

.modal_div_background{ */
    /* background-color: var(--color-yellow); */
    /* width: 100vw; */
    /* height: 1000vh; */
    /* position: absolute; */
    /* opacity: 10%; */
    /* margin: -5% 0 0 -5%; */
    /* overflow-y: hidden; */
/* }
.modal_profile_form{
    background-color: var(--color-blue);
    width: 55%;
    height: 80vh; */
    /* position: fixed; */
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius:0.15rem ; */
/* }

.Profile_modal{
    background-color: unset;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    
}

.modal_Profile_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.modal_Profile_form_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.modal_Profile_form_text h1{
    color: #fff; ;
    text-align: center;
    padding: 0;
    font-size: 1.6rem;
    font-family: var( --font-montserrat);
    font-weight:700;
    margin: 0;
   
   
}

.profile_status_img{
    width: 25%;
   margin-top: 1rem;
}

.profile_status{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    /* text-decoration: underline; */
/* }
.modal_Profile_form_avatars {
    
    width: 85%;
    height: 24%;
    
}

.modal_Profile_form_avatars h4{
    color: #fff;
    margin: 0 0 1rem 1.5rem;
    font-weight: 500;
    text-align: left;
}
.modal_Profile_form_avatars p{
    font-size: 0.7rem;
    font-weight: 200;
}
.avatars_grid{
 display: grid;
 grid-template-columns: 22.5% 22.5% 22.5% 22.5%  ; */ 
 /* column-gap: 0.5rem; */
 /* justify-content: center;
}
.avatar_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.avatar_description img{
    width: 50%;
}
.form_credential{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width:60%;
    gap: 5px;
    border: none;
} */


/* modal pixels */
/* .modal_edit_pixel_1{
    background-color: var(--color-lightblue);
    border-radius: 0.05rem;
    position: relative;
    right: -40px;
    bottom: 110px;
    width: 6%;
    padding-top: 1.8rem;
}

.modal_edit_pixel_2{
    background-color: var(--color-yellow);
    border-radius: 0.05rem;
    position: relative;
    left: 464px;
    bottom: 454px;
    width: 8%;
    padding-top: 2.6rem;
} */





/* Modal: Edit passWord */

/* .modal_div_background{
    background-color: var(--color-yellow);
    width: 105%;
    height: 100rem;
    position: absolute;
    opacity: 50%;
    margin: -5% 0 0 -5%;
   ov
    
} */
/* .modal_password_form{
    background-color: var(--color-blue);
    width: 35%;
    height: 35rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius:0.15rem ;
}

.password_modal{
    background-color: unset;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    
}
.close_modal_btn{
    background-color: #fff;
    border-radius: 0.06rem;
    border: none;
    width: 3rem;
    height: 3rem;
    position: relative; 
    left: -1px;
    top: -1px;
   
}

.close_modal_icon{
    width: 3rem;
    height: 3rem;
    position: relative;
    left: -5px;
    top: -2px;
}

.modal_password_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
   
}
.modal_form_text{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 3rem;
}
.modal_form_text h1{
    color: #fff; ;
    text-align: center;
    padding: 0;
    font-size: 1.6rem;
    font-family: var( --font-montserrat);
    font-weight:700;
    margin: 0;
   
   
}

.form_credential{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    width:60%;
    gap: 5px;
    border: none;
} */

/* modal pixels */
/* .modal_edit_pixel_1{
    background-color: var(--color-lightblue);
    border-radius: 0.05rem;
    position: relative;
    right: -40px;
    bottom: 110px;
    width: 6%;
    padding-top: 1.8rem;
}

.modal_edit_pixel_2{
    background-color: var(--color-yellow);
    border-radius: 0.05rem;
    position: relative;
    left: 464px;
    bottom: 454px;
    width: 8%;
    padding-top: 2.6rem;
} */

/*   MAIN PAGE      */
#main_messages, #dashboard_info{
    width: 90%;
    margin: 3% auto auto auto;
}

#welcome_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome_user h1{
    font-size: 2.5rem;
    color: var(--color-blue);
    font-family: var(--font-raleway);
    font-weight: 700;
}

#welcome_user h4{
    font-size: 1rem;
    font-family: var(--font-source);
}

#escape_message{
    display: flex;
    background-color: var(--color-lightblue);
    border-radius: 5px;
    text-align: center;
    height: 150px;
}

.esc_message1, .esc_message2, .esc_message3{
    display: flex;
    align-items: center;
}

.esc_message1, .esc_message3{
    flex-direction: column;
    justify-content: center;
}

#escape_message h3{
    font-family: var(--font-raleway);
    color: var(--color-blue);
}

#escape_message p{
    font-family: var(--font-source);
    color: var(--color-blue);
    font-size: 1.1rem;
}

.esc_message1 h3{
    font-weight: 800;
}

.play_level2{
    display: flex;
    gap: 5px;
    align-items: center;
}

.play_level2 h5{
    font-family: var(--font-source);
    color: var(--color-orange);
    font-weight: 700;
}

.play_level2 img{
    width: 64px;
}

.blue_line{
    position: absolute;
    width: 150px;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    margin-top: -20px;
}

.orange_line{
    margin: auto;
    height: 100px;
    border: 1px solid var(--color-orange)
}


#first_col, #second_col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.esc_time_record{
    display: flex;
    flex-direction: column;
    font-family: var(--font-source);
    color: var(--color-blue);
}

.time_info{
    background-color: var(--color-lightblue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.time_info p span, .quiz_time_record p span{
    font-size: 1.2rem;
    font-weight: 800;
}

.time_info h3{
    text-align: center;
}

.time_info h3 span{
    font-size: 5rem;
}

.rankings{
    background-color: var(--color-blue);
    color: white;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user_ranking{
    display: flex;
    gap: 20px;
    padding: 5px; /*To give more spacing between rankings*/
}

.user_ranking p{
    margin: auto;
}

.user_ranking div{
    width: 220px;
    border: 1px dotted white;
    height: 1px;
    margin: auto;
}

.quiz_time_record{
    background-color: var(--color-blue);
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#record{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#record img{
    width: 50px;
}

#record h3{
    font-size: 2.3rem;
}

.challenges_complete, .quizzes_complete{
    background-color: var(--color-lightblue);
    border-radius: 5px;
    padding: 10px;
    color: var(--color-blue);
}

.challenges_complete h3{
    color: var(--color-orange);
    text-align: end;
    font-size: 2.5rem;
}

.bar{
    width: 350px;
    padding: 3px;
    background-color: #D9D9D9;
    margin: auto;
}

.challenge_bar_complete{
    position: absolute;
    width: 42px;
    padding: 3px;
    margin-top: -3px;
    margin-left: -5px;
    background-color: var(--color-orange);
}


.quizzes_complete h3{
    text-align: end;
    font-size: 2.5rem;
}

.quiz_bar_complete{
    position: absolute;
    width: 238px;
    padding: 3px;
    margin-top: -3px;
    margin-left: -5px;
    background-color: var(--color-blue);
}


.status_icon{
    background-color: var(--color-lightblue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px;
    text-align: center;
}

.status_icon p{
    font-size: 1.2rem;
    color: var(--color-blue);
    font-weight: 700;
}

#confetti1{
    transform: rotate(-90deg);
}

/*Keyframe to make the player's status bounce*/
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*Animation for the badge using the keyframe above*/
#badge{
    animation: bounce 2s ease-in-out infinite;
    
}

.status_name{
    background-color: var(--color-blue);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: white;
    padding: 4px;
}

#level1_complete{
    font-weight: 300;
}

#new_avatar_unlocked{
    font-weight: 390;
}

.challenges_medals, .content_medals, .esc_medals{
    background-color: var(--color-lightblue);
    color: var(--color-blue);
    border-radius: 5px;
}

.challenges_medals{
    padding: 6px;
}

.content_medals, .esc_medals{
    padding: 12px;
}

.challenge_medals_unlocked, .content_medals_unlocked, .esc_medals_unlocked{
    display: flex;
    gap: 10px;
}


.challenge_medals_unlocked div, .content_medals_unlocked div, .esc_medals_unlocked div{
    border-radius: 200px;
    width: 62px;
    height: 58px;
}

.challenge_medals_unlocked div{
    background-color: var(--color-yellow);
}

.content_medals_unlocked div{
    background-color: var(--color-orange);
}

.esc_medals_unlocked div{
    background-color: var(--color-blue);
}

#challenge_medal_place1, #content_medal_place1, #esc_medal_place1{
    background-color: var(--color-lightblue);
    width: 62px;
}

#content_acessed{
    background-color: var(--color-blue);
    border-radius: 5px;
    color: white;
    padding: 12px;
}

.content_acessed_text h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.content_acessed_text p{
    font-size: 1rem;
    font-weight: 300;
}

.content_acessed_graphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.content_bar{
    width: 340px;
    height: 40px;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.25);
}

.content_bar p{
    margin-top: -9%;
    margin-right: 1%;
}

#content_bar_color1{
    width: 98.6px;
    height: 40px;
    background-color: var(--color-lightblue);
}

#content_bar_color2{
    width: 98.6px;
    height: 40px;
    background-color: var(--color-orange);
}

#content_bar_color3{
    width: 170px;
    height: 40px;
    background-color: var(--color-yellow);
}

#content_bar_color4{
    width: 98.6px;
    height: 40px;
    background-color: white;
}

#content_bar_color5{
    width: 231px;
    height: 40px;
    background-color: #3A9B95;
}

.content_acessed_graphs_info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    justify-items: center;
    font-size: 0.9rem;
    padding: 10px 0;
}

.content_acessed_graphs_info div{
    display: flex;
    align-items: center;
    gap: 10px;    
}

.content_acessed_graphs_info div div{
    width: 12px;
    height: 12px;
    background-color: white;
}

.content_acessed_graphs_info div p{
    margin: 0;
}

#bar_color1{
    background-color: var(--color-lightblue);
}

#bar_color2{
    background-color: var(--color-orange);
}

#bar_color3{
    background-color: var(--color-yellow);
}

#bar_color4{
    background-color: white;
}

#bar_color5{
    background-color: #3A9B95;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px){

    #welcome_user{
        padding: 20px 0;
    }

    #escape_message{
        height: 170px;
    }

    .esc_message1 h3{
        font-size: 1.3rem;
    }

    .blue_line{
        width: 80px;
        margin-top: -30px;
    }

    .esc_message2{
        margin: auto;
    }

    #escape_message p{
        font-size: 0.9rem;
        padding: 0 5px;
    }

    .play_level2 h5{
        font-size: 1.1rem;
    }

    .play_level2 img{
        width: 50px;
    }

    #first_col, #second_col{
        width: 50%;
    }

    .time_info p span{
        font-size: 1rem;
    }

    .time_info p{
        font-size: 0.9rem;
    }

    .time_info h3 span{
        font-size: 3rem;
    }

    .time_info h3{
        font-size: 1.5rem;
    }

    #ranking_title{
        font-size: 1rem;
    }

    .user_ranking p{
        font-size: 1.1rem;
    }

    .user_ranking div{
        width: 50px;
    }

    .quiz_time_record p span{
        font-size: 1rem;
    }

    .quiz_time_record p{
        font-size: 0.9rem;
    }

    #record h3{
        font-size: 1.8rem;
    }

    .challenges_complete p, .quizzes_complete p{
        font-size: 0.9rem;
    }

    .challenges_complete h3, .quizzes_complete h3{
        font-size: 2rem;
    } 

    .bar{
        width: 200px;
    }

    .challenge_bar_complete{
        width: 24px;
    }

    .quiz_bar_complete{
        width: 136px;
    }

    #badge{
        width: 50px;
    }

    #confetti1, #confetti2{
        width: 70px;
    }

    .status_icon p, .challenges_medals p, .content_medals p, .esc_medals p{
        font-size: 1rem;
    }

    .challenge_medals_unlocked div, .content_medals_unlocked div, .esc_medals_unlocked div{
        width: 48px;
        height: 48px;
    }

    #challenge_medal_place1, #content_medal_place1, #esc_medal_place1{
        width: 50px;
    }

    .status_name h3{
        font-size: 1rem;
    }

    #level1_complete, #new_avatar_unlocked{
        font-size: 1rem;
    }

    #content_acessed{
        margin-top: 5%;
    }

    #content_acessed h3{
        font-size: 1.3rem;
    }

    .content_acessed_graphs_info div p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px){

    #welcome_user h1{
        font-size: 2rem;
    }

    #welcome_user h4{
        font-size: 1rem;
    }

    .esc_message1 h3{
        font-size: 0.9rem;
    }

    .blue_line{
        width: 50px;
        margin-top: 0;
    }

    .orange_line{
        height: 70px;
    }

    .rankings p{
        font-size: 0.9rem;
    }

    #record h3{
        font-size: 1.2rem;
    }

    #record img{
        width: 40px;
    }

    .challenges_complete h3, .quizzes_complete h3{
        font-size: 1.5rem;
    }

    .bar{
        width: 175px;
    }

    .challenge_bar_complete{
        width: 21px;
    }

    .quiz_bar_complete{
        width: 119px;
    }

    #badge{
        width: 40px;
    }

    #confetti1, #confetti2{
        width: 60px;
    }

    #challenge_medal_place1, #content_medal_place1, #esc_medal_place1{
        width: 40px;
    }

    .status_name h3{
        font-size: 0.9rem;
    }

    .challenge_medals_unlocked div, .content_medals_unlocked div, .esc_medals_unlocked div{
        width: 35px;
        height: 35px;
    }

    #content_acessed_text h3{
        font-size: 1.1rem;
    }

    #content_acessed_text p{
        font-size: 0.9rem;
    }
}