/* Modal: Edit profile */

.modal_profile_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
} 
.modal_Profile_form_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.modal_Profile_form_text h1{
    color: #fff; ;
    text-align: center;
    padding: 0;
    font-size: 1.8rem;
    font-family: var( --font-montserrat);
    font-weight:700;
    margin-top: -30px;
}

.profile_status_img{
    width: 25%;
    margin-top: 10px;
}

.profile_status{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
} 

.form_credential > * {
    height: 26px;
}

.modal_Profile_form_avatars > h4{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
.modal_Profile_form_avatars p{
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #fff;
}

.pass_min_caracters {
    margin-bottom: 0;
}
.avatars_grid{
 display: grid;
 grid-template-columns: repeat(4, 15%) ;
 justify-content: center;
 gap: 10px;
}
.avatar_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 5px;
    background-color: var(--color-blue);
    border: none;
}
.avatar_description p {
    padding-top: 10px;
}
.avatar_description img{
    width: 80%;
} 

/* modal pixels */
/* .modal_edit_pixel_1{
    background-color: var(--color-lightblue);
    border-radius: 0.05rem;
    position: relative;
    right: -100px;
    bottom: 110px;
    width: 6%;
    padding-top: 1.8rem;
}

.modal_edit_pixel_2{
    background-color: var(--color-yellow);
    border-radius: 0.05rem;
    position: relative;
    left: 464px;
    bottom: 454px;
    width: 8%;
    padding-top: 2.6rem;
} */

.avatar_description:focus {
    border: 2px solid lightblue;
    box-sizing: border-box;
}