footer {
    background-color: #333;
    display: flex;
    justify-content: center;
    gap: 150px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

footer > div {
    background-color: #333;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.footer_logo {
    text-align: center;
    margin-top: 80px;
    width: 250px;
}
.footer_logo > h3 {
    font-weight: 500;
}

.footer_sitemap > a {
    color: #fff;
}
.footer_info > a {
    color: #fff;
}

.footer_contactos {
    display: flex;
}