.bye_chatgpt{
    font-size: 1.5rem;
    color: white;
}

.pause_btn{
    background-color: var(--color-blue);
    border: none;
}

.pause_btn img{
    width: 64px;
}

.interactive_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.digit{
    width: 50px;
    height: 50px;
    background-color: #F1F59E;
    border: 1px solid black;
    font-size: 2rem;
}

#drawer_img img{
    width: 500px;
    height: 300px;
}

#locked_drawer_digits{
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: unset;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20%;
}


#modal_main_img{
    display: flex;
    justify-content: center;
}

#box_img img{
    width: 500px;
    height: 300px;
}

#locked_box_squares{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: unset;
    gap: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}


#book_image img{
    width: 400px;
    height: 450px;
    margin-top: -5%;
}

#book_image h3{
    position: absolute;
    font-size: 1.7rem;
    transform: rotate(-45deg);
    margin-top: 10%;    
    margin-left: 2%;
}

.square{
    margin-top: 0%;
    width: 60px;
    height: 60px;
    background-color: wheat;
    border: 2px solid black;
}

.colorOrder{
    display: flex;
    gap: 15px;
    position: absolute;
    margin-right: 40%;
    margin-top: 12%;
}

.secretWord{
    margin: 0;
}

#color1, #color2, #color3{
    width: 30px;
    height: 30px;
}

#color1, #color3{
    transform: rotate(10deg);
}

#color2{
    transform: rotate(-10deg);
}

#notebook_img img{
    width: 500px;
    height: 400px;
}

#postIt_img img{
    width: 400px;
    height: 300px;
}

#postIt_img2 img{
    width: 400px;
    height: 300px;
    transform: rotate(25deg);
}

#welcomeModal {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
    
#welcomeModal h4{
    color: white;
    text-align: center;
    padding: 10px 50px;
    font-size: 1.3rem;
    font-weight: 500;
}

.startGame{
    background: white;
    color: var(--color-orange);
    border: 5px solid white;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: 700;
}

.startGame:hover{
    background-color: var(--color-orange);
    color: white;
    border: 5px solid var(--color-orange);
    border-radius: 10px;
}

#postIt_img h4{
    position: absolute;
    font-size: 2.5rem;
    transform: rotate(-8deg);
}

#postIt_img2 h4{
    position: absolute;
    font-size: 2.5rem;
    transform: rotate(15deg);
}

#mainScreen{
    width: 600px;
    height: 400px;
}

#mainScreen form{
    position: absolute;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 25px;
    gap: 10px;
}

.password_input_label{
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
}

#password_input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#passwordSubmitBtn{
    padding: 5px 20px;
    font-size: 1.3rem;
    color: var(--color-orange);
    font-weight: 500;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

#passwordSubmitBtn:hover{
    color: white;
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);

}

#mainScreen{
    text-align: center;
}


#quiz_question{
    font-size: 1.5rem;
    color: white;
}


#quiz_options{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding-top: 50px;
}

#quiz_options button{
    width: 150px;
    height: 40px;
    margin: auto;
    background-color: white;
    color: var(--color-blue);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
}

#quiz_options button:hover{
    background-color: var(--color-blue);
    border: 2px solid white;
    color: white;
}

.close{
    width: 50px;
    height: 50px;
    background-color: unset;
    color: white;
    font-size: 2rem;
    border: none;
}

.avatar{
    width: 100px;
    height: 100px;
    margin: auto auto;
    text-align: center;
}

#nav{
    background-color: var(--color-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#tsiw_maze_logo{
    width: 150px;
}

.game{
    background-color: var(--color-blue);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center; /*To align the image*/
    align-items: center; /*To align the collectibles */
}

#pause_and_timer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

#pause_and_timer h2{
    display: flex;
    align-items: center;
}

#timer{
    color: white;
}

#escape_room{
    width: 100%;
}

.memoryGameContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}

@media only screen and (max-width: 768px){
    .bye_chatgpt{
        font-size: 1.2rem;
    }

    #tsiw_maze_logo{
        width: 100px;
    }

    .pause_btn img{
        width: 44px;
    }

    #escape_room{
        width: 80%;
    }

}

@media only screen and (max-width: 480px){
    .bye_chatgpt{
        font-size: 0.8rem;
    }

    #tsiw_maze_logo{
        width: 60px;
    }

    .pause_btn img{
        width: 22px;
    }

    #timer{
        font-size: 1rem;
    }

    #pause_and_timer{
        width: 150px;
    }

    #escape_room{
        width: 80%;
    }
    
}