
/* main section */
.index_main {
    display: grid;
    width: 100%;
    grid-template-columns: 70% 30%   ;
    justify-content: space-between;
    gap: 2rem;
   align-content: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
    background-color: var(--color-blue);
}

.index_main_text {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0rem 1rem 2rem 2rem;
}

.index_main_text h1 {
    text-align: left;
    font-size: 6.5rem;
    font-family: var(--font-raleway);
    line-height: 9rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 900;
    
}
.index_main_text h4{
    font-size: 1.4rem;
    font-weight: 200;
    text-align: left;
    width: 45%;
}

.index_main_img{
    width: 90%;
}
.index_main_img img{
    width: 100%;
}

/* .index-main > h3 {
    color: var(--color-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0 0 6vw;
}
.index-main > button {
    color: #fff;
    background-color: var(--color-orange);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0 0 6vw;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
} */

/*  Section teaser website (site tour) */

.index_site_tour_section{
    background-color: var(--color-blue);
    width: 100%;
    height: auto;
    padding: 1rem 0rem;
    color: #fff;  
    
}
.index_video_teaser{
    
    width: 100%;
    height: 30rem;
    
}

.index_video_teaser h2{
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 3.8rem;
    font-weight: 850;
    margin: 0rem 2rem 2rem 2rem;
}
.video{
    background-color: aqua; 
    width: 60%;
    height: 30rem;
    z-index: 1;
    position: relative;
    border-radius: 0.2rem;

    
    
}
.index_intel{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 45%;
    margin-left:auto;
    height: 28rem;
    position: relative;
    bottom: 29rem;
    border-radius: 0.2rem;
    background-color: var( --color-lightblue-opacity);
}
.index_intel h3{
    font-family: var( --font-raleway);
    font-size:2.4rem;
    font-weight: 700;
    color: #fff;
    padding-top: 5rem;
    margin: 0 0 0 8rem;
}

.index_site_tour_section ul li{
    font-family: var(--font-source);
    font-size: 1.4rem;
    font-weight: 350;
    margin: 0.5rem 0 0 8rem;
    
   
}

.index_follow_us_incentive{
    height: auto;
    background-color: var(--color-lightblue);
    width: 25%;
    height: 9rem;
    padding: 1rem;
    margin-left: auto;
    position: relative;
    bottom: 6rem;
    color: var(--color-blue);
    
}

.index_follow_us_incentive p{
    text-align: center;
    font-weight: 650;
    font-size: 1.2rem;
}
.index_follow_us_incentive_icons_wrapper{
    display: grid;
    width: 90%;
    grid-template-columns: 25% 25% 25%    ;
   justify-content: space-around;
   margin-left: auto;
  
  
}


/* Section about TSIW */
.index_about_tsiw_section{
   height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    color: var(--color-blue);
    gap: 2rem;
   
}

.img_button_index_about_tsiw_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 0 4rem 4rem 5rem  ;
}
.img_button_index_about_tsiw_section img{
    width: 100%;
}
.btn_index{
    margin-top: 15px;
    background-color: var(--color-orange);
    /* width: 100%; */
    padding: 12px;
    border: none;
    border-radius: 0.1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}
.btn_index:hover{
    color: var(--color-orange);
    background-color: #fff;
    border: 0.15rem solid var(--color-orange) ;
}

.index_about_tsiw_section_text{
    width: 100%;
    margin:4rem 4rem 4rem 2rem ;
    display: flex;
    flex-direction: column;
}

.index_about_tsiw_section_text h2{
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 3rem;
    font-weight: 850;
    margin: 0;

}
.index_about_tsiw_section_text p{
   width: 100%;
    font-weight: 350;
    font-size: 1.4rem;
}
/* Section tools slideshow  */
.index_tools_sladeshow{
    background-color: var(--color-blue);
    width: 100%;
}

/*  Section grade activities*/

.index_grade_activities_section{
    background-color: #fff;
    color: var(--color-blue);
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
   
    margin: 5rem 4rem 4rem 0rem  ;
}
.index_grade_activities_text{
    width: 30%;
}

.index_grade_activities_text h2{
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 3rem;
    font-weight: 850;
    margin: 0 2rem 0 6rem
}
.index_grade_activities_text p{
    width: 100%;
    font-weight: 350;
    font-size: 1.4rem;
    margin: 0 2rem 0 6rem
}

.index_grade_activities_text ul li{
    font-family: var(--font-source);
    font-size: 1.4rem;
    font-weight: 350;
    margin: 0 2rem 0 6rem
    
}


/* Section escaperoom  */
.index_escaperoom_section{
    background-color:var(--color-lightblue);
    color:var(--color-blue);
    width: 100%;
    /* padding: 2rem ; */
    margin: 5rem 4rem 4rem 0rem  ;
    padding: 2rem 0;
}


.index_escaperoom_section h2{
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 4rem;
    font-weight: 850;
    padding-left: 2rem;
    margin: 0rem 2rem 1rem 4rem;
}

.index_escaperoom_section h3{
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 2.5rem;
    font-weight: 750;
    padding-left: 2rem;
    margin: 0rem 2rem 2rem 4rem;
}
.index_escaperoom_section_body{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: auto;
    margin-right: 6rem;
}
.index_escaperoom_section p{
   font-size: 1.4rem;
    width: 100%;
    font-weight: 350;
}

/* .index_escaperoom_section button{
    margin: 0rem 2rem 2rem 4rem;
    width: 30%;
   
} */

.index_escaperoom_section .btn_index:hover{
    color: var(--color-orange);
    background-color: var(--color-lightblue);
    border: 0.15rem solid var(--color-orange) ;
}

.index_maze_icon_1{
    position: relative;
    left: 8rem;
    bottom: 7rem;   
}
.index_maze_icon_2{
    position: relative;
    left: 60rem;
    bottom: 32rem;
    width: 4rem;
}

















/*  Section Testimonies */

.index-testemunhos {
    display: flex;
    justify-content: center;
}

.index-testemunho-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
}

.index-testemunho {
    width: 500px;
}

.index-testemunho-p {
    width: 300px;
    height: 300px;
    background-color: var(--color-blue);
    border-radius: 8px;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 35px;
    text-align: center;
}
.index-testemunho-perfil {
    width: 300px;
    height: 300px;
    background-color: var(--color-grey); 
    border-radius: 8px;
    color: var(--color-blue);
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
