
/* main section */
.index_main {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    gap: 2rem;
    align-content: center;
    padding-bottom: 6rem;
    background-color: var(--color-blue);
}

.index_main_text {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0rem 1rem 2rem 2rem;
    padding-top:10rem ;
}

.index_main_text h1 {
    text-align: left;
    font-size: 5.5rem;
    font-family: var(--font-raleway);
    
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 900;
    z-index: 1;
}
.index_main_text h4{
    font-size: 1.6rem;
    font-weight: 200;
    text-align: left;
    width: 100%;
}

.index_main_img{
    
    width: 50%;
    position: absolute;
    right: 0.1rem;
    top: 0rem;
}
.index_main_img img{
    width: 100%;
}

/*  Section teaser website  */

.index_site_tour_section{
    background-color: var(--color-blue);
    display: grid;
    grid-template-columns: 65% 30%;
    width: 100%;
    height: 55rem;
    padding: 0rem 0rem 10rem;
    color: #fff;
    align-items: center;
    position: relative;
    gap: 2rem;
        
}
.index_video_teaser{
    
    width: 100%;
    
}

.index_video_teaser h2{
    text-align: left;
    font-family: var(--font-raleway);
    margin: 0rem 2rem 2rem 2rem;
}
.video_teaser{
    
    width: 100%;
    height: 60vh;
    border-radius: 0.3rem;

    
    
}


.index_intel h3{
    font-family: var( --font-raleway);
    font-weight: 700;
    color: #fff;
    padding-top: 5rem;
}

.index_site_tour_section  ul li{
    font-family: var(--font-source);
    font-size: 1.4rem;
    font-weight: 350;
    margin-top: 0.5rem;
    width: 100%;
    list-style-type: square;
    margin-left: auto;
  
 
   
}

/* Section about TSIW */
.index_about_tsiw_section{
   height: auto;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    padding:8rem 2rem 6rem 2rem;
    color: var(--color-blue);
    gap: 2rem;
   
}

.img_button_index_about_tsiw_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 0 4rem 4rem 5rem  ;
}
.img_button_index_about_tsiw_section img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.btn_index{
    margin-top: 15px;
    background-color: var(--color-orange);
    padding: 12px;
    border: 0.15rem solid var(--color-orange);
    border-radius: 0.1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}
.btn_index:hover{
    color: var(--color-orange);
    background-color: #fff;
    border: 0.15rem solid var(--color-orange) ;
}

.index_about_tsiw_section_text{
    width: 100%;
    margin:4rem 4rem 4rem 2rem ;
    display: flex;
    flex-direction: column;
}

.index_about_tsiw_section_text h2{
    text-align: left;
    font-family: var(--font-raleway);
    
    font-weight: 850;
    margin: 0;

}
.index_about_tsiw_section_text p{
   width: 100%;
    font-weight: 350;
    font-size: 1.4rem;
    
}

/* Section tools slideshow  */
.index_tools_sladeshow{
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    width: 100%;
}

/*So all the companies show up white the animation is running*/
.index_tools_slider{
    width: 100%; 
    overflow: hidden;
}

.index_tools_slide{
    display: flex;
    align-items: center;
    animation: index_tools_sladeshow 30s linear infinite;
}

.index_tools_slide img{
    width:8% ;
    padding: 2rem 50px;
}

@keyframes index_tools_sladeshow{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateX(-1200px);
    }
}

/*  Section grade activities*/

.index_grade_activities_section{
    padding: 4rem 0rem ;
    background-color: #fff;
    color: var(--color-blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 8rem;
    width: 100%;
    padding: 12rem  0rem  ;
}
.index_grade_activities_text{
    width: 50%;
    padding-left: 6rem;
   
}

.index_grade_activities_text h2{
    text-align: left;
    font-family: var(--font-raleway);
    margin: 0;
   
}
.index_grade_activities_text p{
    width: 100%;
    font-weight: 350;

   
    
}

.index_grade_activities_text ul li{
    font-family: var(--font-source);
    font-size: 1.4rem;
    font-weight: 350; 
    list-style: square;
    width: 100%;
}

.wrapper{
    position: relative;
    width: 100%;
    padding-right: 6rem;  
}

.wrapper i{
    top: 45%;
    background: var(--color-orange);
    width: 2.5rem;
    height: 2.5rem;
    color: #fff;
    font-size: 3rem;
    border-radius: 0.1rem;
    line-height: 2.5rem;
    text-align: center;
    position: absolute;
    cursor: pointer;
   transform: translateY(-50%);


}

.wrapper i:first-child{
    left: -1.5rem;
}

.wrapper i:last-child{
    right: 4.5rem;
}

.wrapper .carousel{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;

}

.carousel img{
    height: 100%;
    width: calc(100%/2);
    object-fit: cover;
    margin-left: 8px;
    
}

.carousel img:first-child{
    margin-left: 0px;
}



/* Section escaperoom  */
.index_escaperoom_section{
    background-color:var(--color-lightblue);
    color:var(--color-blue);
    width: 100%;
    height: auto;
    margin: 5rem 4rem 4rem 0rem  ;
    padding: 4rem 0 2rem 0;
}


.index_escaperoom_section h2{
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 4rem;
    padding-left: 2rem;
    margin: 0rem 2rem 1rem 4rem;
}

.index_escaperoom_section h3{
    text-align: left;
    font-family: var(--font-raleway);
    font-size: 2.5rem;
    font-weight: 750;
    padding-left: 2rem;
    margin: 0rem 2rem 2rem 4rem;
}
.index_escaperoom_section_body{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: auto;
    margin-right: 6rem;
}
.index_escaperoom_section p{
 
    width: 100%;
    font-weight: 350;
}


.index_escaperoom_section .btn_index:hover{
    color: var(--color-orange);
    background-color: var(--color-lightblue);
    border: 0.15rem solid var(--color-orange) ;
}

.index_maze_icon_1{
    position: relative;
    left: 8rem;
    bottom: 7rem;   
}
.index_maze_icon_2{
    position: relative;
    left: 60rem;
    bottom: 30rem;
    width: 4rem;
}



/*  Section Testimonies */
.index_Testimonies{
   
    padding-top: 6rem ;
    width: 100%;
    padding-bottom: 40rem;
}

.index_Testimonies_content{
    position: relative;
    height: 112rem;
    padding-top: 8rem;
   
    
}
.index_Testimonies h2{
    color: var(--color-blue);
    text-align: center;
    font-family: var(--font-raleway);
    
    margin: 0rem 2rem 8rem 4rem;
}

.index_Testimonies_1{
    margin-left: 6rem;
}
.index_Testimonies_1 img{
    position: absolute;
    top: 11rem;
    object-fit: cover;
}
#index_Testimonies_1_profile{
    position: absolute;
    top: 3rem;
    left: 26rem;
}
#index_Testimonie_1_p{
    position: absolute;
    top: 16rem;
    left: 10rem;    
    z-index: -1;
}
.index_Testimonies_2{
    bottom: 20rem;
   margin-left: auto;
}
.index_Testimonies_2 img{
    object-fit: cover;
    position: absolute;
    top: 49rem;
    left: 35rem;
}

#index_Testimonies_2_profile{
    position: absolute;
    bottom: 63rem;
    left: 59rem;
    
}
#index_Testimonie_2_p{
    position: absolute;
    bottom: 42rem;
    left: 40rem;
    z-index: -1;
}

.index_Testimonies_3{
    
    bottom: 17rem;
    margin-right: auto;
    margin-left: 6rem;
}
#index_Testimonies_3_profile{
    position: absolute;
    bottom: 22rem;
    left: 28rem;
}
.index_Testimonies_3 img{
    position: absolute;
    bottom: 22rem;
}
#index_Testimonie_3_p{
    position: absolute;
    bottom: 0;
    left: 10rem;
    z-index: -1;
}

.index_testimonies_img{
    width: 10%;
    height: 7%;
    border-radius: 0.1rem;
    object-fit: cover;
}

.index_Testimonies_p {
    width: 40%;
    height: auto;
    background-color: var(--color-blue);
    border-radius: 0.15rem;
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
    padding: 4rem ;
    text-align: left;
    font-weight: 350;
    
    margin-bottom: 4rem;
    
}
.index_Testimonies_perfil {
    width: 25%;
    height: auto;
    background-color: var(--color-grey); 
    border-radius:0.15rem;
    color: var(--color-blue);
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.2rem;
    font-weight: 350;
    padding: 1.5rem ;
    
}

.index_Testimonies_perfil ul li {
    width: 100%;
    list-style: square;
}
.index_Testimonies_perfil h4{
    margin: 0;
    font-size: 1.6rem;
}
.index_application_incentive{
    color: var(--color-blue);
    font-size: 1.2rem;
    font-weight: 350;
    width: 20%;
    text-align: left;
    position: absolute;
    bottom: -8rem;
    right: 10rem;
    margin-left: auto;
}
.index_application_incentive a{
    text-decoration: none;
    color: var(--color-orange);
    cursor: pointer;
}
.index_application_incentive p{
    font-size: 1.4rem;
}

/* ------------MEDIA QUERIES------------- */

@media only screen and (max-width: 1500px){
    .index_main{
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: grid;
        grid-template-columns: auto;
    }
   
   
    .wrapper img{
        
     
        width: calc(90%);
    }
}









@media only screen and (max-width: 1000px){
    .index_main{
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: grid;
        grid-template-columns: auto;
    }

    .index_main_img{
        width: 50%;
    }

    .index_main_text h1{
        font-size: 3rem;
    }

    .index_main_text h4{
        font-size: 1.4rem;
    }

    .index_site_tour_section{
        padding: 2rem 0;
        height: 50%;
        display: grid;
        grid-template-columns: auto;
       
    }

    .index_site_tour_section h2{
        font-size: 2.5rem;
    }

    .video_teaser{
        width: 100%;
        height: 30rem;
    }

    .index_intel{
        height: 18rem;
        width: 100%;
        display: flex;
        align-items: center;


    }

    .index_intel h4{
        padding-top: 1rem;
        font-size: 1.5rem;
    }

    .index_intel ul{
        padding: 0 0 0 0.2rem;
    }

    .index_intel ul li{
        font-size: 1.2rem;
        margin: 0.2rem 0 0 1.4rem;
        line-height: 180%;
    }

    
    .index_about_tsiw_section{
      
        width: 100%;
        flex-wrap:wrap-reverse;
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
    }

    .index_about_tsiw_section_img{
        width: 50vw;
        height: 70vh;
    }

    .img_button_index_about_tsiw_section{
        margin: -1rem 4rem;
       
    }

    .index_about_tsiw_section_text{
        margin: 6.5rem 4rem 2rem;
    }

    .index_about_tsiw_section_text h2, .index_grade_activities_text h2,.index_video_teaser h2{
        font-size: 2.5rem;
    }

    .index_about_tsiw_section_text p{
        font-size: 1.2rem;
    }

    .index_grade_activities_section{
        padding: 3rem 0;    
        gap: 2rem;
        flex-direction: column;
    }

    .index_grade_activities_text p, .index_grade_activities_text li{
        font-size: 1.2rem;
    }

    .wrapper{
        width: 90vw;
        padding-right: 0;
    }

    .wrapper i:last-child{
        right: -0.8rem;
    }

    .wrapper img{
        width: 40vw;
     
        width: calc(50%/1);
    }

    .index_escaperoom_section h2{
        font-size: 2.5rem;
    }

    .index_about_tsiw_section h3{
        font-size: 1.8rem;
    }

    .index_escaperoom_section_body{
        margin: auto;
        display: flex;
       
    }

    .index_maze_icon_2{
       
        display: none;
    }

    .index_maze_icon_1{
        left: 37%;
        bottom: 20%;
    }

    .index_Testimonies{
        padding-top: 2rem;
    }

    .index_Testimonies h2{
        font-size: 3rem;
    }

    .index_Testimonies_content{
        padding-top: 1rem;
        height: 50rem;
    }

    .index_Testimonies_1 img, .index_Testimonies_2 img, .index_Testimonies_3 img{
        width: 8rem;
        height: 8rem;
    }

    .index_Testimonies_1 img{ 
        top: -6rem;
        right: 15rem;
    }

    #index_Testimonie_1_p, #index_Testimonie_2_p, #index_Testimonie_3_p{
        width: 60%;
        height: 40%;
        padding: 3rem;
    }

    #index_Testimonie_1_p{
        top: -1rem;
        left: 0;
    }

    #index_Testimonies_1_profile, #index_Testimonies_2_profile, #index_Testimonies_3_profile{
        width: 38%;
        padding: 1rem;
    }

    #index_Testimonies_1_profile{
        top: 7%;
        left: 56%;
        height: 27%;
    }

    #index_Testimonies_1_profile li, #index_Testimonies_2_profile li, #index_Testimonies_3_profile li{
        font-size: 1.2rem;
    }

    .index_Testimonies_p{
        font-size: 1.15rem;
    }

    #index_Testimonie_2_p{
        top: 57%;
        left: 40%;
        width: 60%;
    }

    .index_Testimonies_2 img{
        left: 35%;
        top: 44%;
    }

    #index_Testimonies_2_profile{
        left: 0;
        height: 17%;
        bottom: -5%;
        height: 40%;
    }

    #index_Testimonie_3_p{
        left: 0;
        bottom: -70%;
    }

    .index_Testimonies_3 img{
        bottom: -25%;
        left: 50%;
    }

    #index_Testimonies_3_profile{
        left: 58%;
        bottom: -50%;
    }

    .index_application_incentive{
        bottom: -80%;
        right: 10%;
    }
}


@media only screen and (max-width: 480px){
    body{
        width: 100%;
        overflow-x: none;
    }

    .index_main_img{
        right: 1rem;
    }

    .index_main_text h1{
        font-size: 2rem;
    }

    .index_follow_us_incentive{
        width: 40%;
        padding: 0.5rem;
        right: 0;
        bottom: -160.5vh;
    }

    .index_follow_us_incentive_icons_wrapper img{
        width: 2rem;
    }

    .index_intel h4{
        margin: 0 0 0 2rem;
    }

    .index_video_teaser h2{
        margin: 1rem 2rem 0 2rem;
    }

    .video{
        top: 8%;
        width: 50vw;
    }

    .index_about_tsiw_section_text, .index_about_tsiw_section_text h2, .index_grade_activities_text h2, .index_escaperoom_section h2, .index_escaperoom_section h3, .index_escaperoom_section_body, .index_Testimonies h2{
        text-align: center;
    }

    .index_grade_activities_text{
        padding-left: 0;
    }

    .index_escaperoom_section h2, .index_escaperoom_section h3{
        padding-left: 0;
    }

    .index_maze_icon_1{
       left: 33%;
    }

    .index_maze_icon_2{
        left: 42%;
    }

    .index_Testimonies h2{
        font-size: 2.5rem;
        margin: 0 4rem 8rem 4rem;
    }

    #index_Testimonies_1_profile, #index_Testimonies_2_profile, #index_Testimonies_3_profile{
        width: 33%;
        padding: 1rem;
    }

    #index_Testimonies_1_profile h4, #index_Testimonies_2_profile h4, #index_Testimonies_3_profile h4{
        font-size: 1.7rem;
    }


    #index_Testimonies_1_profile li, #index_Testimonies_2_profile li, #index_Testimonies_3_profile li{
        font-size: 1rem;
    }


    .index_Testimonies_1 img, .index_Testimonies_2 img, .index_Testimonies_3 img{
        width: 6rem;
        height: 6rem;
    }

    .index_Testimonies_1 img{
        top: -5rem;
        right: 10rem;
    }
    
    .index_Testimonies_2 img{
        top: 49%;
    }

    #index_Testimonies_1_profile{
        height: 29%;
    }

    #index_Testimonies_2_profile{
        height: 42%;
    }

    .index_application_incentive{
        width: 50%;
        font-size: 1.2rem;
        text-align: end;
    }
}