.maze-page-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--color-blue);
}
 
.maze-page-title-and-desc {
    z-index: 1000;
    color: #fff;
}

.maze-page-title-and-desc > img {
    margin-top: 100px;
    width: 150px;
}
.maze-page-title-and-desc > h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    font-weight: 700;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.maze-page-title-and-desc > h2 {
    font-family: var( --font-source);
    font-weight: 500;
    font-size: 2.6rem;
    padding-bottom: 100px;
}
.maze-page-title-and-desc > p {
    font-size: 1.8rem;
}

.maze-page-pixels > img {
    width: 70px;
    margin-left:-400px;
    margin-top: 150px;
    margin-left: -800px;
}

.maze-page-pixel1 {
    background-color: var(--color-yellow);
    width: 100px;
    height: 100px;
    margin-left:-600px;
}
.maze-page-pixel2 {
    background-color: var(--color-lightblue);
    width: 200px;
    height: 200px;
    margin-left:-400px;
}
.maze-page-pixel3 {
    background-color: var(--color-lightblue);
    opacity: 50%;
    width: 200px;
    height: 200px;
    margin-top:-300px;
    margin-left: -300px;
}
.maze-page-pixel4 {
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin-top:-300px;
    margin-left: -200px;
}



/* Section Níveis */

.maze_page_níveis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
    position: relative;
    background-color: var(--color-blue);
}
.maze-page-bloqueado {
    position: absolute;
    background-color: rgba(158, 204, 250, 0.4);
    width: 100vw;
    height: 450px;
    top: 1200px;
}

.maze_page_nível {
    width: 800px;
    display: flex;
}
.maze_page_nível p {
    line-height: 25px;
    color: #fff;
    font-weight: 350;
}

.maze_page_níveis_left > h2 {
    font-family:'Montserrat', sans-serif;;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 750;
}
.maze_page_níveis_left > img {
    width: 80px;
    margin-top: -10px;
    margin-bottom: 10px;
}


.maze_page_níveis_left > div {
    background-color: rgba(158, 204, 250, 0.4);
    border-radius: 4px;
    padding: 30px;
    z-index: -1;
}
.maze_page_níveis_left h3 {
    font-family:'Montserrat', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 650;
}


.maze_page_níveis_right {
    display: flex;
    flex-direction: column;
}
.maze_page_níveis_right > img {
    width: 200px;
    margin-left: -30px;
    margin-bottom: 10px;
}
.maze_page_níveis_right > button {
    width: 150px;
    margin: 10px 20px;
    padding: 20px;
    font-size: 1em;
    font-weight: 600;
    line-height: 20px;
    font-family:'Montserrat', sans-serif;
    background-color: #fff;
    color: var(--color-orange);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 4px;
    border: none;
}



/* Media queries */

@media only screen and (max-width: 768px) {

    .maze-page-title-and-desc > img {
        margin-top: 0px;
        width: 133px;
    }

    .maze-page-main {
        padding: 10px;
        display: grid;
        grid-template-rows: 90% 10%;
        align-items: center;
        justify-content: flex-start;
    }
    .maze-page-title-and-desc > h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 7rem;
        font-weight: 700;
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    .maze-page-title-and-desc > h2 {
        display: none;
    }
    .maze-page-main p {
       
        font-size: 1.4rem;
        width: 100%;
        padding-left: 0.8rem;
        margin: 0;
        font-weight: 500;
    }

    .maze-page-pixels > img {
        width: 50px;
    }
    .maze-page-pixel1,.maze-page-pixel2, .maze-page-pixel3 {
        display: none;
    }
    
    .maze-page-pixel2 {
        display: none;
    }

    .maze-page-pixel4 {
        display: none;
    }
    
    /* Section Níveis */
 
    .maze_page_níveis {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
    }
    .maze_page_nível {
        margin-top: -180px;
        width: 90vw;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
    }
      
    .maze-page-bloqueado {
        position: absolute;
        background-color: rgba(158, 204, 250, 0.4);
        width: 100vw;
        height: 1000px;
        top: 1470px;
    }

    .maze_page_nível p {
        line-height: 30px;
    }
    
    .maze_page_níveis_left > h2 {
        font-family:'Montserrat', sans-serif;
        font-size: 1.6rem;
    }
    
    .maze_page_níveis_left > div {
        background-color: rgba(158, 204, 250, 0.4);
        border-radius: 4px;
        padding: 30px;
        z-index: -1;
    }
    .maze_page_níveis_left h3 {
        font-family:'Montserrat', sans-serif;
        color: #fff;
        font-size: 1.4rem;
    }
    
    .maze_page_níveis_right {
        display: flex;
        flex-direction: column;
    }
    .maze_page_níveis_right > img {
        width: 200px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .maze_page_níveis_right > button {
        width: 200px;
        margin: 10px 20px;
        padding: 20px;
        font-size: 14px;
        font-weight: 600;
        line-height: 5px;
        font-family:'Montserrat', sans-serif;
        background-color: #fff;
        color: var(--color-orange);
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 8px;
    }
} 

@media only screen and (max-width: 560px){
    .maze-page-title-and-desc > h1 {
        
        font-size: 6rem;
        
    }
}