.nav-logo {
    width: 80px;
}

.nav-maze {
    width: 30px;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #cecece;
}

.nav-width {
    width: 80vw;
}

.nav-esc {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--color-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .8rem;
}

.nav-orange-divider {
    width: 3px;
    height: 15px;
    background-color: var(--color-orange);
}

.white-nav {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.white-nav > a, .white-nav > button  {
    width: 150px;
    color: var(--color-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #fff;
}



