p,h3, label{
    color: #fff;
    
} 

p,label{
    font-weight: 400;
   
}

a{
    font-weight: 500;
}


.form_box{
    background-color: var(--color-blue);
}

.sign_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 20px ;
    background-color: var(--color-blue);
    
}

.sign_form_text {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-top:auto;
    margin-bottom: 5rem;
    
}

.sign_form_text p {
    margin-top:auto; 
    width: 80%;
    
}

.sign_form_text h1 {
    color: #fff; ;
    text-align: center;
    padding: 0;
    font-size: 2.0rem;
    margin: 0.8rem 0px;
    font-family: var( --font-raleway);
    font-weight:800;
}



.form_credential{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 60%;
    /* gap: 0.25rem; */
    border: none;
    
}
 

.sign_form_credential_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    gap: 20px;
   
}

.form_input{
    border: none;
    border-bottom: 2px solid #fff;
    background-color:var( --color-blue) ;
    padding: 8px 0px;
    margin: auto 0;
    font-size: 1rem;
    color: #fff;
    font-weight: 100;
    
 }
.pass_min_caracters{
    font-size: 0.6rem;
    margin: 0;
    font-weight: 200;
}

.form_btn {
    margin-top: 15px;
    background-color: #fff;
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 0.1rem;
    color: var(--color-orange);
    font-weight: 700;
    font-size: 1rem;

    
 }

 .form_btn:hover {
    background-color: var(--color-orange);
    color:  #fff;
    /* border:1rem ,solid ,#fff;
    color: var(--color-orange) ;
    background-color: var(--color-blue); */
  }
 .alternative_validation{
   
    margin: 2rem 0px 0px 0px;
 }
 .alternative_validation p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.1rem;
    font-weight: 100;
    font-size: 0.9rem;
}


 .login_form_text{
    background-color: var( --color-lightblue);
    width: 20%;
    text-align: center;
    border-radius: 0.1rem;
    padding: 0.6rem;
    position: relative;
    top: -600px;
 }

 .login_form_text p, h3{
    color: var(--color-blue);
    margin: 0.5rem 0;

 }
 .login_form_text h3{
    font-family: var( --font-montserrat);
    font-weight:700;
   
 }

.login_form_text p{
    font-size: 0.85rem;
}

/* --------------Pixels ---------*/

.sign_up_page_pixel_1{
    background-color: var(--color-yellow);
    border-radius: 0.05rem;
    position: relative;
    right: -1300px;
    top: -760px;
    width: 0.1%;
    padding: 1.5rem;
}
.sign_up_page_pixel_2{
    background-color: var(--color-grey);
    border-radius: 0.05rem;
    position: relative;
    left: 150px;
    bottom: 40px;
    width: 5%;
    padding-top: 4.5rem;
    
}
.sign_up_page_pixel_3{
    background-color: var(--color-lightblue);
    border-radius: 0.1rem;
    position: relative;
    right: -1150px;
    bottom: 260px;
    width: 6%;
    padding-top: 5rem;
}



/* medias queries  */

@media only screen and (max-width: 768px) {
    .sign_content{
        margin: auto;
        width: 100%;
        padding: 20px ;
        height: 100%;
    }

    .login_form_text{
        top: -100px;
    }

    .sign_up_page_pixel_1{
        right: -617px;
    }

    .sign_up_page_pixel_2{
        left: 152px;
        bottom: 148px;
        padding-top: 2rem;
    }
        
    .sign_up_page_pixel_3{
        right: -587px;
        width: 12%;
    }
}

@media only screen and (max-width: 480px) {
    .sign_content{
        /* display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px; */
        margin: 0;
        width: 100%;
        padding: 20px ;
        height: 100%;
    }

    .sign_form_credential_wrapper{
        flex-wrap: wrap;
    }
    
    .sign_up_page_pixel_1{
        right: -431px;
    }

    .sign_up_page_pixel_2{
        left: 116px;
        bottom: 148px;
        padding-top: 1.5rem;
    }
        
    .sign_up_page_pixel_3{
        right: -391px;
        width: 18%;
    }
  }