/* INDEX */
@import url(./index.css);

/* PAGES */
@import url(./course.css);
@import url(./game.css);
@import url(./maze.css);
@import url(./sign-up.css);
@import url(./dashboard.css);
@import url(./adminDashboard.css);
@import url(./about.css);


/* MODALS */
@import url(./login.css);
@import url(./dropdownMenu.css);
@import url(./editProfile.css);
@import url(./editPassword.css);

/* COMPONENTS */
@import url(./components/footer.css);
@import url(./components/navbar.css);

/* FONT LINKS */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-blue: #104C64;
    --color-orange: #C94D24;
    --color-lightblue: #9ECCFA;
    --color-lightblue-opacity: rgba(158, 204, 250, 0.5);
    --color-yellow: #FFF36A;
    --color-grey: #F5F5F5;
    --color-dark: #333333
    --font-montserrat: "Montserrat", sans-serif;
    --font-source: 'Source Sans 3', sans-serif;
    --font-raleway:"Raleway", sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-orange);
    cursor: pointer;
    font-family: var(--font-source);
  
}

body {
    margin: 0px;
    overflow-x:hidden;
    font-family: var(--font-source);
    padding-top: 4rem ;
 

}

h1 {
    font-size: 3.6rem; /* 36px */
}

h2 {
    font-size: 3.9rem; /* 30px */
    font-weight: 860;
}

h3 {
    font-size: 2.4rem; /* 24px */
}
/* 
h4 {
    font-size: 2rem; 20px
} */

h5 {
    font-size: 1.8rem; /* 18px */
}

h6 {
    font-size: 1.6rem; /* 16px */
}

p {
    font-size: 1rem; 
}

.small-text {
    font-size: 1.1rem; /* 14px */
}

p, label{
    font-family: var(--font-source);
    
}


button {
    cursor: pointer;
}

input {
    padding: 20px;
}
input:focus {
    outline: none;
    background-color: transparent;
}

/* fix os estilos dos inputs quando os browsers preencherem automaticamente com as credenciais guardadas */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #104C64 inset;
    -webkit-text-fill-color: #fff;
    border: none; 
}

h1, h2, h3, p {
    cursor: default;
}

