/* INDEX */
@import url(./index.css);

/* PAGES */
@import url(./course.css);
@import url(./navbar.css);
@import url(./game.css);
@import url();
@import url(./sign-up.css);


/* COMPONENTS */
@import url();
@import url();
@import url();

/* FONT LINKS */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-blue: #104C64;
    --color-orange: #C94D24;
    --color-lightblue: #9ECCFA;
    --color-yellow: #FFF36A;
    --color-grey: #F5F5F5;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-source: 'Source Sans 3', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-orange);
}

body {
    margin: 0;
    overflow-x: hidden;
}

