

/*   MAIN PAGE      */
#main_messages, #dashboard_info{
    width: 90%;
    margin: 3% auto auto auto;
}

#welcome_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome_user h1{
    font-size: 2.5rem;
    color: var(--color-blue);
    font-family: var(--font-raleway);
    font-weight: 700;
}

#welcome_user h4{
    font-size: 1rem;
    font-family: var(--font-source);
}

#escape_message{
    display: flex;
    background-color: var(--color-lightblue);
    border-radius: 5px;
    text-align: center;
    height: 150px;
}

.esc_message1, .esc_message2, .esc_message3{
    display: flex;
    align-items: center;
}

.esc_message1, .esc_message3{
    flex-direction: column;
    justify-content: center;
}

#escape_message h3{
    font-family: var(--font-raleway);
    color: var(--color-blue);
}

#escape_message p{
    font-family: var(--font-source);
    color: var(--color-blue);
    font-size: 1.1rem;
}

.esc_message1 h3{
    font-weight: 800;
}

.play_level2{
    display: flex;
    gap: 5px;
    align-items: center;
}

.play_level2 h5{
    font-family: var(--font-source);
    color: var(--color-orange);
    font-weight: 700;
}

.play_level2 img{
    width: 64px;
}

.blue_line{
    position: absolute;
    width: 150px;
    border: 1px solid var(--color-blue);
    border-radius: 5px;
    margin-top: -20px;
}

.orange_line{
    margin: auto;
    height: 100px;
    border: 1px solid var(--color-orange)
}


#first_col, #second_col{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.esc_time_record{
    display: flex;
    flex-direction: column;
    font-family: var(--font-source);
    color: var(--color-blue);
}

.time_info{
    background-color: var(--color-lightblue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.time_info p span, .quiz_time_record p span{
    font-size: 1.2rem;
    font-weight: 800;
}

.time_info h3{
    text-align: center;
}

.time_info h3 span{
    font-size: 5rem;
}

.rankings{
    background-color: var(--color-blue);
    color: white;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user_ranking{
    display: flex;
    gap: 20px;
    padding: 5px; 
}

.user_ranking p{
    margin: auto;
}

.user_ranking div{
    width: 220px;
    border: 1px dotted white;
    height: 1px;
    margin: auto;
}

.quiz_time_record{
    background-color: var(--color-blue);
    border-radius: 5px;
    color: white;
    padding: 5px;
}

#record{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#record img{
    width: 50px;
}

#record h3{
    font-size: 2.3rem;
}

.challenges_complete, .quizzes_complete{
    background-color: var(--color-lightblue);
    border-radius: 5px;
    padding: 10px;
    color: var(--color-blue);
}

.challenges_complete h3{
    color: var(--color-orange);
    text-align: end;
    font-size: 2.5rem;
}

.bar{
    width: 350px;
    padding: 3px;
    background-color: #D9D9D9;
    margin: auto;
}

.challenge_bar_complete{
    position: absolute;
    width: 42px;
    padding: 3px;
    margin-top: -3px;
    margin-left: -5px;
    background-color: var(--color-orange);
}


.quizzes_complete h3{
    text-align: end;
    font-size: 2.5rem;
}

.quiz_bar_complete{
    position: absolute;
    width: 238px;
    padding: 3px;
    margin-top: -3px;
    margin-left: -5px;
    background-color: var(--color-blue);
}


.status_icon{
    background-color: var(--color-lightblue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 8px;
    text-align: center;
}

.status_icon p{
    font-size: 1.2rem;
    color: var(--color-blue);
    font-weight: 700;
}

#confetti1{
    transform: rotate(-90deg);
}

/*Keyframe to make the player's status bounce*/
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*Animation for the badge using the keyframe above*/
#badge{
    animation: bounce 2s ease-in-out infinite;
    
}

.status_name{
    background-color: var(--color-blue);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: white;
    padding: 10px 0;
}

#specialStatus {
    margin: 20px 0 28px 0;
}

#level1_complete{
    font-weight: 300;
}

#new_avatar_unlocked{
    font-weight: 390;
}

.challenges_medals, .content_medals, .esc_medals{
    background-color: var(--color-lightblue);
    color: var(--color-blue);
    border-radius: 5px;
}

.challenges_medals{
    padding: 6px;
}

.content_medals, .esc_medals{
    padding: 12px;
}

.challenge_medals_unlocked, .esc_medals_unlocked{
    display: flex;
    gap: 10px;
}

.content_medals_unlocked{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}
.content_medals_unlocked *{
    place-self: center;
}
.content_medals_unlocked p{
    font-size: .8em;
    margin-left: -8px;
    margin-top: 10px;
}
.esc_medals_unlocked{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}
.esc_medals_unlocked *{
    place-self: center;
}
.esc_medals_unlocked p{
    font-size: .8em;
    margin-left: -8px;
}

.challenge_medals_unlocked div, .content_medals_unlocked div, .esc_medals_unlocked div{
    border-radius: 200px;
    width: 62px;
    height: 58px;
}

.challenge_medals_unlocked div{
    background-color: var(--color-yellow);
}

.content_medals_unlocked div{
    background-color: var(--color-orange);
}

.esc_medals_unlocked div{
    background-color: var(--color-blue);
}

#challenge_medal_place1, #content_medal_place1, #esc_medal_place1{
    background-color: var(--color-lightblue);
    width: 62px;
}


#content_acessed {
    background-color: rgb(16, 76, 100); /* Cor de fundo branca semi-transparente */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas, se desejado */
    /* width: 120px; */
}



/* MEDIA QUERIES */
@media only screen and (max-width: 768px){

    #welcome_user{
        padding: 20px 0;
    }

    #escape_message{
        height: 170px;
    }

    .esc_message1 h3{
        font-size: 1.3rem;
    }

    .blue_line{
        width: 80px;
        margin-top: -30px;
    }

    .esc_message2{
        margin: auto;
    }

    #escape_message p{
        font-size: 0.9rem;
        padding: 0 5px;
    }

    .play_level2 h5{
        font-size: 1.1rem;
    }

    .play_level2 img{
        width: 50px;
    }

    #first_col, #second_col{
        width: 50%;
    }

    .time_info p span{
        font-size: 1rem;
    }

    .time_info p{
        font-size: 0.9rem;
    }

    .time_info h3{
        font-size: 1rem;
    }


    #ranking_title{
        font-size: 1rem;
    }

    .user_ranking p{
        font-size: 1.1rem;
    }

    .user_ranking div{
        width: 50px;
    }

    .quiz_time_record p span{
        font-size: 1rem;
    }

    .quiz_time_record p{
        font-size: 0.9rem;
    }

    #record h3{
        font-size: 1.8rem;
    }


    .challenges_complete p, .quizzes_complete p{
        font-size: 0.9rem;
    }

    .challenges_complete h3, .quizzes_complete h3{
        font-size: 2rem;
    } 

    .bar{
        width: 200px;
    }

    .challenge_bar_complete{
        width: 24px;
    }

    .quiz_bar_complete{
        width: 136px;
    }

    #badge{
        width: 50px;
    }

    #confetti1, #confetti2{
        width: 70px;
    }

    .status_icon p, .challenges_medals p, .content_medals p, .esc_medals p{
        font-size: 1rem;
    }

    .challenge_medals_unlocked div, .content_medals_unlocked div, .esc_medals_unlocked div{
        width: 48px;
        height: 48px;
    }

    #challenge_medal_place1, #content_medal_place1, #esc_medal_place1{
        width: 50px;
    }

    .status_name h3{
        font-size: 1rem;
    }

    #level1_complete, #new_avatar_unlocked{
        font-size: 1rem;
    }

    #content_acessed{
        margin-top: 5%;
    }

    #content_acessed h3{
        font-size: 1.3rem;
    }

    .content_acessed_graphs_info div p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px){

    #welcome_user h1{
        font-size: 2rem;
    }

    #welcome_user h4{
        font-size: 1rem;
    }

    .esc_message1 h3{
        font-size: 0.9rem;
    }

    .blue_line{
        width: 50px;
        margin-top: 0;
    }

    .orange_line{
        height: 70px;
    }

    .rankings p{
        font-size: 0.9rem;
    }

    #record h3{
        font-size: 1.2rem;
    }

    #record img{
        width: 40px;
    }

    .challenges_complete h3, .quizzes_complete h3{
        font-size: 1.5rem;
    }

    .bar{
        width: 175px;
    }

    .challenge_bar_complete{
        width: 21px;
    }

    .quiz_bar_complete{
        width: 119px;
    }

    #badge{
        width: 40px;
    }

    #confetti1, #confetti2{
        width: 60px;
    }

    #challenge_medal_place1, #content_medal_place1, #esc_medal_place1{
        width: 40px;
    }

    .status_name h3{
        font-size: 0.9rem;
    }

    .challenge_medals_unlocked div, .content_medals_unlocked div, .esc_medals_unlocked div{
        width: 35px;
        height: 35px;
    }

    #content_acessed_text h3{
        font-size: 1.1rem;
    }

    #content_acessed_text p{
        font-size: 0.9rem;
    }
}